body {
  background-color: white;
  font-family: sans-serif;
}

.page-contents {
  padding: 100px 50px 50px;
}

.header {
  background-color: white;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  font-weight: 300;
  height: 50px;
  left: 0;
  list-style: none;
  margin: 0;
  min-width: 100%;
  overflow: hidden; 
  padding: 0;
  position: fixed;
  text-align: right;
  top: 0;
  width: 100%;
  z-index: 999999 !important;
}

.header a {
  color: blue;
  display: inline-block;
  font-size: 1.1em;
  height: 30px;
  line-height: 50%;
  padding: 20px 20px;
  text-decoration: none;
}

.footer {
  background-color: #a4c2f0;
  bottom: 0;
  padding: 20px;
}

.footer a {
  text-decoration: none;
  padding: 20px 20px;
}