

body {
  background-color: white;
  font-family: sans-serif;
  line-height: 2em;
}

a, u {
  color: darkblue;
  text-decoration: none;
}

.page-contents {
  padding: 100px 50px 50px;
}

.page-contents div {
  text-decoration: none;
}

.header {
  background-color: white;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  font-weight: 300;
  height: 50px;
  left: 0;
  list-style: none;
  margin: 0;
  min-width: 100%;
  overflow: hidden; 
  padding: 0;
  position: fixed;
  text-align: right;
  top: 0;
  width: 100%;
  z-index: 999999 !important;
}

.header a {
  color: darkblue;
  display: inline-block;
  font-size: 1.1em;
  height: 30px;
  line-height: 50%;
  padding: 20px 20px;
  text-decoration: none;
}

.footer {
  background-color: #a4c2f0;
  bottom: 0;
  padding: 20px;
}

.footer a {
  color: white;
  text-decoration: none;
  padding: 20px 20px;
}

/* Flashcard */

.flashcard {
  background-color: white;
  border-radius: 0.6rem; /* rounded corners */
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2); /* left right blur spread-out, color and transparency */
  display: flex;
  overflow: auto;
  margin: 2rem auto;
  padding: 1rem;
  position: relative; /* according to normal flow of doc, and relative to itself based on T/R/B/L */
  height: 400px;
  width: 700px;
}

.flashcard-text {
  padding: 0rem 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flashcard:hover{
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
}

.answer-wrapper, 
.question-wrapper {
  font-size: 1.5em;
  margin: auto;
  text-align: center;
}

.zhuyin {
  font-size:1.5em;
  text-align: center;
}

.pinyin, .definition {
  font-size: 1.2em;
  text-align: center;
}

.phonetic-wrapper {
  line-height: 0.8em;
}

.sentence-wrapper {
  line-height: 0.8em;
  text-align: left;
}

.traditionalWord, .simplifiedWord {
  font-size: 2em;
}

.traditionalSentence, .simplifiedSentence {
  font-size: 1.3em;
}

/* Flashcard Buttons */
.card-button {
  position:absolute;
  top:0;
  right:0;
  margin: 10px 10px 0px 0px;
}

.card-button button {
  margin: 10px;
}

.edit-card-button {
  height: 20px;
  display: inline-block;
}

.delete-card-button {
  height: 20px;
  display: inline-block;
}

/* Tables */

/* Features Table */
.features-table {
  border: 1px solid #a4c2f0;
  text-align: left;
  width: 100%;
}

.features-table th, tr {
  text-align: center;
}

.features-table td {
  padding: 15px;
}

/* Features Column List Should Align Left */
.features-table td:nth-child(2) {
  text-align: left;
  padding: 20px;
}

.features-table tr:nth-child(even) {
  background-color: #eeeeee;
}
.features-table tr:nth-child(odd) {
  background-color: #ffffff;
}
.features-table th {
  color: white;
  background-color: #a4c2f0;
}

.features-table .inner-table {
  min-width: 60%;
  text-align: left;
}

.features-table .inner-table td {
  text-align: left;
}